<%- include("partials/header")-%>
<h1 id="weatherReport">Weather Report</h1>
<h2 id="cityName"><%=cityName%></h2>
<div class="weatherData">
        <div class="weather-item" >  
            <img src="<%=weatherIconUrl%>" alt="img" width="100px" height="100px">
            <h1>Today weather is <%=description%> </h1> 
        
        </div>

        <div class="weather-item" >  
            <p>Current Weather</p>
            <h2><%=temp%>&nbsp;°C</h2>
        </div>

        <div class="weather-item" >  
             
         
        </div>

        <div class="weather-item" >
       
            
        </div>
</div>
<%- include("partials/footer")-%>
 